@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,400,400i,600,700");
@import url(/styles/normalize.css);
@import url(/styles/skeleton.css);
p {
  color: #124770; }

body {
  background-color: #ddd;
  font-family: 'Fira Sans', sans-serif; }

h1 {
  text-transform: capitalize; }

h2 {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 32px; }

h3 {
  font-weight: 100; }

.row {
  padding: 30px 80px; }
  .row.landing_row, .row.header {
    padding: 0; }
  .row.skinny {
    padding-top: 0;
    padding-bottom: 0; }

.button {
  text-transform: none;
  color: white;
  background-color: #198dd3;
  border-radius: 40px;
  border: none;
  padding: 3px 40px 0;
  font-weight: normal; }

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  border-radius: 0;
  border: none; }

.container {
  background-color: white;
  max-width: 1700px;
  width: 100%; }

.header {
  background-color: white; }
  .header .logo {
    position: relative; }
    .header .logo img {
      margin: 14px 0 4px 50px;
      height: 40px; }
    .header .logo span {
      position: absolute;
      font-size: 19px;
      border-left: 1px solid #124770;
      height: 40px;
      color: #124770;
      top: -30px;
      left: 180px;
      padding: 0 0 0 10px;
      width: 400px;
      line-height: 40px;
      font-weight: bold;
      letter-spacing: 1px; }
  .header a {
    height: 40px;
    line-height: 50px;
    text-transform: uppercase; }
  .header .menu {
    text-align: right; }
    .header .menu a {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      position: relative;
      padding: 16px 34px 8px;
      text-decoration: none; }
      .header .menu a, .header .menu a:hover, .header .menu a:active {
        color: light_blue; }
      .header .menu a img {
        width: 20px;
        height: auto;
        margin: 4px 0 0 -28px;
        position: absolute; }

.landing {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(images/landing.png) 0 -200px no-repeat;
  background-size: cover;
  text-align: center;
  padding: 120px 0; }
  .landing.report {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(images/report.jpg) center center no-repeat; }
  .landing h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    text-shadow: #666 0px 1px 0px;
    letter-spacing: 0.75px; }

.contact {
  text-align: center;
  padding: 40px 0; }
  .contact h2 {
    color: #198dd3; }
  .contact form {
    padding: 0 100px; }
    .contact form input,
    .contact form textarea {
      width: 100%;
      display: block;
      background-color: #f0f0f0;
      margin-bottom: 2rem; }
      .contact form input.half,
      .contact form textarea.half {
        width: 49.5%;
        display: inline-block; }
    .contact form .form-row .half:first-child {
      float: left; }
    .contact form .form-row .half:last-child {
      float: right; }
    .contact form textarea {
      resize: none;
      height: 120px; }
    .contact form input[type=submit] {
      width: 120px;
      background-color: #198dd3;
      color: white;
      border: none;
      border-radius: 40px;
      margin: 0 auto;
      font-weight: normal; }

.about--content {
  text-align: left; }
  .about--content h2 {
    color: #198dd3;
    text-align: center; }

.board-member h5 {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 1.5rem; }
  .board-member h5:first-child {
    padding-top: 0; }

.team--content {
  background-color: #124770;
  padding-bottom: 30px; }
  .team--content h2, .team--content p, .team--content h5, .team--content div {
    color: white; }
  .team--content img {
    width: 100%;
    display: block;
    margin: 0 auto; }

.footer--brand {
  text-align: center; }

.footer--brand {
  background-color: #9a9a9a;
  padding: 10px 0 30px; }
  .footer--brand a {
    text-decoration: none;
    color: white; }
  .footer--brand img {
    width: 120px;
    margin-bottom: -25px;
    margin-left: -9px; }

@media screen and (max-width: 960px) {
  .header .menu a {
    padding: 12px 10px; }
    .header .menu a img {
      display: none; }
  .landing {
    background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(images/landing.png) top right no-repeat; } }

@media screen and (max-width: 740px) {
  .header .logo img {
    margin-left: 12px; }
  .header .menu {
    width: 100%;
    text-align: left; } }

@media screen and (max-width: 620px) {
  .team--content img {
    max-width: 200px; }
  .team--content .director {
    margin-bottom: 14px; }
    .team--content .director .copy {
      display: none; }
  .team--content h5 {
    padding-top: 0.5rem; }
  .team--content .gap {
    display: none; }
  form .form-row input.half {
    float: none;
    width: 100%; }
  .submit .form,
  .submit .submitter {
    height: auto;
    margin: 20px 0; }
  .submit .submitter {
    padding-top: 20px; }
  .container {
    width: 100%;
    padding: 0;
    overflow: auto; }
  .row {
    padding-left: 16px;
    padding-right: 16px; }
    .row.landing_row, .row.header {
      padding-left: 0;
      padding-right: 0; }
  .landing h1 {
    font-size: 30px; }
  .contact form {
    padding: 0 5%; }
  .about--content .about--content {
    padding-top: 0; }
  .about--content img {
    margin: -10px 0 0; } }
