@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,400i,600,700')

@import '/styles/normalize.css'
@import '/styles/skeleton.css'

$blue: #124770
$light_blue: rgb(25, 141, 211)
$gray: rgb(154,154,154)
$light_gray: rgb(240,240,240)

p
  color: $blue

body
  background-color: #ddd
  font-family: 'Fira Sans', sans-serif

h2
  font-weight: bold
  text-transform: capitalize
  font-size: 32px

h3
  font-weight: 100

.row
  padding: 30px 80px
  &.landing_row,
  &.header
    padding: 0
  &.skinny
    padding-top: 0
    padding-bottom: 0

.button
  text-transform: uppercase
  color: white
  background-color: $light_blue
  border-radius: 40px
  border: none
  padding: 3px 40px 0
  font-weight: normal

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
  border-radius: 0
  border: none

.container
  background-color: white
  max-width: 1700px
  width: 100%

.header
  background-color: white
  .logo
    position: relative
    img
      margin: 14px 0 4px 50px
      height: 30px
    span
      position: absolute
      font-size: 14px
      border-left: 1px solid $blue
      height: 30px
      color: $blue
      top: -18px
      left: 140px
      padding: 0 0 0 10px
      width: 200px
      line-height: 30px
      font-weight: bold
      letter-spacing: 1px
  a
    height: 22px
    line-height: 22px
    text-transform: uppercase
  .menu a
    font-size: 12px
    font-weight: normal
    text-transform: uppercase
    display: inline-block
    position: relative
    padding: 16px 34px 8px
    text-decoration: none
    &, &:hover, &:active
      color: light_blue
    img
      width: 20px
      height: auto
      margin: 4px 0 0 -28px
      position: absolute

.landing
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(images/landing.png) 0 -200px no-repeat
  background-size: cover
  text-align: center
  padding: 120px 0
  h1
    color: white
    text-transform: uppercase
    font-weight: 700
    font-size: 44px
    text-shadow: #666 0px 1px 0px
    letter-spacing: 0.75px

.contact
  text-align: center
  padding: 40px 0
  form
    padding: 0 100px
    input,
    textarea
      width: 100%
      display: block
      background-color: $light_gray
      margin-bottom: 2rem
      &.half
        width: 49.5%
        display: inline-block
    .form-row
      .half
        &:first-child
          float: left
        &:last-child
          float: right
    textarea
      resize: none
      height: 120px
    input[type=submit]
      width: 120px
      background-color: $light_blue
      color: white
      border: none
      border-radius: 40px
      margin: 0 auto
      font-weight: normal


.about--content
  text-align: left
  h2
    color: $light_blue
    text-align: center

.team--content
  background-color: $blue
  padding-bottom: 30px
  h2, p, h5, div
    color: white
  h5
    margin-bottom: 0
    padding-bottom: 0
    padding-top: 1.5rem
  img
    width: 100%
    display: block
    margin: 0 auto

.footer--brand
  text-align: center

.footer--brand
  background-color: $gray
  padding: 10px 0 30px
  a
    text-decoration: none
    &, &:hover, &:active
    color: white
  img
    width: 120px
    margin-bottom: -25px
    margin-left: -9px



@media screen and (max-width: 550px)
  .submit
    .form,
    .submitter
      height: auto
      margin: 20px 0
    .submitter
      padding-top: 20px
  .container
    width: 100%
    padding: 0
    overflow: auto
  .row
    padding-left: 16px
    padding-right: 16px
    &.landing_row, &.header
      padding-left: 0
      padding-right: 0
  .landing h1
    font-size: 30px
  .contact form
    padding: 0 5%

  .about--content
    .about--content
      padding-top: 0
    img
      margin: -10px 0 0
