@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,400,400i,600,700')

@import '/styles/normalize.css'
@import '/styles/skeleton.css'

$blue: rgb(15, 37, 78)
$light_blue: rgb(25, 141, 211)
$gray: rgb(154,154,154)
$light_gray: rgb(240,240,240)


body
  background-color: rgb(206, 206, 206)
  font-family: 'Fira Sans', sans-serif

h2
  font-weight: 100
  text-transform: uppercase
  font-size: 32px

.button
  text-transform: uppercase
  color: white
  background-color: $light_blue
  border-radius: 0
  border: none
  padding: 0 40px

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select
  border-radius: 0
  border: none

.container
  background-color: white

.header
  background-color: white

  img, a
    height: 22px
    line-height: 22px
  img
    margin-left: 20px
  a
    font-size: 10px
    font-weight: bold
    text-transform: uppercase
    display: inline-block
    padding: 12px 30px
    text-decoration: none
    &, &:hover, &:active
      color: black

.landing
  background: transparent url(images/landing.png) top left no-repeat
  background-size: cover
  text-align: center
  padding: 120px 0 60px
  h1
    color: white
    text-transform: uppercase
    font-weight: 700
    font-size: 44px
    text-shadow: #666 0px 1px 0px
    letter-spacing: 0.75px

.contact
  text-align: center
  padding: 40px 0
  form
    padding: 0 100px
    input,
    textarea
      width: 100%
      display: block
      background-color: $light_gray
      margin-bottom: 2rem
    textarea
      resize: none
      height: 120px
    input[type=submit]
      width: 120px
      background-color: $light_blue
      color: white
      border: none
      border-radius: 0
      margin: 0 auto



.about--content
  text-align: center
  h2
    color: $light_blue

.team--content
  background-color: $blue
  h2, p
    color: white
  img
    border-radius: 100%
    display: block
    margin: 0 auto

.footer--brand
  text-align: center

.footer--brand
  background-color: $gray
  padding: 10px 0 30px
  a
    text-decoration: none
    &, &:hover, &:active
    color: white
  img
    width: 120px
    margin-bottom: -25px
    margin-left: -9px



@media screen and (max-width: 550px)
  .submit
    .form,
    .submitter
      height: auto
      margin: 20px 0
    .submitter
      padding-top: 20px
  .container
    width: 100%
    padding: 0
    overflow: auto
  .row
    padding-left: 16px
    padding-right: 16px
    &.landing_row, &.header
      padding-left: 0
      padding-right: 0
  .landing h1
    font-size: 30px
  .contact form
    padding: 0 5%

  .about--content
    .about--content
      padding-top: 0
    img
      margin: -10px 0 0
